---
import MainLayout from '@layouts/Main.astro';
---

<MainLayout lang='it' title='404 Not found'>
  <main
    class='min-h-screen flex flex-col items-center justify-center text-center'
  >
    <h1>Not found &mdash; you seem lost</h1>
    <a
      href='/en'
      aria-label='go back to home'
      class='text-primary-200 py-4 hover:text-accent transition-color text-lg'
    >
      &larr; Go back to the home</a
    >
  </main>
</MainLayout>
